<h1>Soal 1: Final Project </h1>
    
Pada final project ini teman-teman diminta untuk memprediksi gaji seseorang apakah 7jt berdasarkan beberapa keterangan pada kolom-kolom dataset. Buatlah model klasifikasi yang dapat menentukan nilai pada kolom 'Gaji' dengan ketentuan sebagai berikut:
- 0 : Gaji <= 7jt
- 1 : Gaji > 7jt

Silahkan download file train.csv sebagai data training, dan gunakan file test.csv sebagai data test yang akan di jadikan penilaian di project ini. Evaluasi matriks yang di gunakan adalah AUC, jadi pastikan anda melakukan scoring metrics roc_auc terhadap model yang anda buat.

Terdapat tiga file yang digunakan pada final project ini, file train.csv berisi dataset yang memiliki kolom label digunakan untuk traning model, sedangkan file test.csv berisi dataset tanpa kolom label, yang nantinya teman-teman dapat menambahkan kolom 'Gaji' berisi prediksi teman-teman sesuai ketentuan pada tab Overview. Kemudian teman-teman diminta untuk membuat dataset baru berisi kolom 'id' dan kolom 'Gaji' yang diambil dari dataset test yang telah teman-teman tambahkan prediksinya, dataset baru ini yang nantinya akan dijadikan file submission. Contoh isi dari submission dapat teman-teman lihat pada file sampleSubmission.csv

In [1]:
# Membaca data dan memasukannya kedalam suatu variabel
import pandas as pd
import numpy as np
# membaca data dari csv
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [2]:
df_train

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,Wiraswasta,242912,SMA,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
1,1,49,Wiraswasta,140782,10th,6,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,40.0,<=7jt
2,2,44,Wiraswasta,120057,D3,12,Menikah,Ekesekutif Managerial,Laki2,61404000.0,0.0,45.0,>7jt
3,3,24,Wiraswasta,194630,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,35.0,<=7jt
4,4,33,Wiraswasta,219619,Master,14,Menikah,Spesialis,Laki2,210336000.0,0.0,40.0,>7jt
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,35989,47,Pekerja Bebas Bukan Perusahan,148169,SMA,9,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,<=7jt
35990,35990,69,Pekerja Bebas Perusahaan,264722,D3,12,Menikah,Sales,Laki2,0.0,0.0,40.0,>7jt
35991,35991,24,Pekerja Bebas Bukan Perusahan,31606,Sarjana,13,Menikah,Spesialis,Perempuan,0.0,0.0,20.0,>7jt
35992,35992,47,Wiraswasta,197836,SMA,9,Menikah,Sales,Laki2,0.0,0.0,45.0,<=7jt
35993,35993,45,Wiraswasta,243743,Sarjana,13,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,60.0,>7jt

In [3]:
df_test

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
0,35994,30,Pemerintah Lokal,99761,D4,11,Cerai,Pemuka Agama,Perempuan,0.0,0.0,40.0
1,35995,28,Wiraswasta,202206,SMA,9,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,50.0
2,35996,34,Pemerintah Provinsi,199934,Pendidikan Tinggi,10,Menikah,Pemuka Agama,Laki2,0.0,0.0,40.0
3,35997,51,Wiraswasta,373448,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,28028000.0,40.0
4,35998,20,?,144685,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Perempuan,0.0,22428000.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9594,45588,58,Pemerintah Negara,159021,9th,5,Menikah,Petani,Laki2,0.0,0.0,40.0
9595,45589,45,Pekerja Bebas Bukan Perusahan,144086,11th,7,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,50.0
9596,45590,20,Wiraswasta,238685,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,32.0
9597,45591,41,Pemerintah Lokal,249039,SMA,9,Berpisah,Pemuka Agama,Perempuan,0.0,0.0,40.0
9598,45592,34,Pekerja Bebas Bukan Perusahan,24961,SMA,9,Menikah,Petani,Laki2,0.0,0.0,80.0

In [4]:
print(df_train['Kelas Pekerja'].value_counts())
print(df_train['Pekerjaan'].value_counts())

Wiraswasta                       24948
Pekerja Bebas Bukan Perusahan     2866
Pemerintah Lokal                  2280
?                                 2063
Pemerintah Negara                 1477
Pekerja Bebas Perusahaan          1273
Pemerintah Provinsi               1066
Tanpa di Bayar                      15
Tidak Pernah Bekerja                 6
Name: Kelas Pekerja, dtype: int64
Spesialis                4587
Perbaikan Kerajinan      4507
Ekesekutif Managerial    4481
Pemuka Agama             4158
Sales                    4044
Servis Lainnya           3615
Mesin Inspeksi           2250
?                        2069
Supir                    1741
Pembersih                1540
Petani                   1076
Tech-support             1042
Penjaga                   686
Asisten Rumah Tangga      187
Tentara                    11
Name: Pekerjaan, dtype: int64

In [5]:
# mengganti '?' dengan modus (Imputasi)
import numpy as np

df_train['Kelas Pekerja'] = df_train['Kelas Pekerja'].replace(to_replace='?', value=np.nan)
df_train['Kelas Pekerja'] = df_train['Kelas Pekerja'].fillna(df_train['Kelas Pekerja'].mode())

df_train['Pekerjaan'] = df_train['Pekerjaan'].replace(to_replace='?', value=np.nan)
df_train['Pekerjaan'] = df_train['Pekerjaan'].fillna(df_train['Pekerjaan'].mode())

df_test['Kelas Pekerja'] = df_test['Kelas Pekerja'].replace(to_replace='?', value=np.nan)
df_test['Kelas Pekerja'] = df_test['Kelas Pekerja'].fillna(df_test['Kelas Pekerja'].mode())

df_test['Pekerjaan'] = df_test['Pekerjaan'].replace(to_replace='?', value=np.nan)
df_test['Pekerjaan'] = df_test['Pekerjaan'].fillna(df_test['Pekerjaan'].mode())

In [6]:
# Membuang column id
df_train = df_train.drop(['id'], axis = 1)
df_test1 = df_test.drop(['id'], axis = 1)

In [7]:
# Membuang column 'Pendidikan' karena sama dengan 'Jmlh Tahun Pendidikan'
df_train = df_train.drop(['Pendidikan'], axis = 1)
df_test1 = df_test.drop(['Pendidikan'], axis = 1)

In [8]:
#Pembagian Berat Akhir menjadi 10 Kategori Interval 1-10
berat_label= [1,2,3,4,5,6,7,8,9,10]
df_test1['Berat Akhir']=pd.qcut(df_test1['Berat Akhir'],10, labels=berat_label)
df_train['Berat Akhir']=pd.qcut(df_train['Berat Akhir'],10, labels=berat_label)

In [9]:
# Mengubah 'Keuntungan Kapital' jadi 0 dan 1
a, b  =pd.cut(df_train['Keuntungan Kapital'],10 ,labels=[1,2,3,4,5,6,7,8,9,10], retbins=True)
df_train['Keuntungan Kapital']= pd.cut(df_train['Keuntungan Kapital'], bins=b,labels=[1,2,3,4,5,6,7,8,9,10])
df_test1['Keuntungan Kapital']= pd.cut(df_test1['Keuntungan Kapital'], bins=b,labels=[1,2,3,4,5,6,7,8,9,10])

#Memberikan pembagian label pada kerugian capital
c, d = pd.cut(df_train['Kerugian Capital'],5 ,labels=[1,2,3,4,5], retbins=True)
df_train['Kerugian Capital']= pd.cut(df_train['Kerugian Capital'], bins=d,labels=[1,2,3,4,5])
df_test1['Kerugian Capital']= pd.cut(df_test1['Kerugian Capital'], bins=d,labels=[1,2,3,4,5])

In [10]:
# encoding data kategori pada data train
df_train = pd.get_dummies(df_train, columns=["Kelas Pekerja", "Status Perkawinan", "Jenis Kelamin", "Pekerjaan", "Keuntungan Kapital", "Kerugian Capital"])

In [11]:
# encoding data kategori pada data test

df_test1= pd.get_dummies(df_test1, columns=["Kelas Pekerja", "Status Perkawinan", "Jenis Kelamin", "Pekerjaan", "Keuntungan Kapital", "Kerugian Capital"])

In [12]:
df_train

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Gaji,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
0,21,8,9,35.0,<=7jt,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,49,4,6,40.0,<=7jt,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,44,3,12,45.0,>7jt,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,24,6,13,35.0,<=7jt,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,33,7,14,40.0,>7jt,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,47,4,9,40.0,<=7jt,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35990,69,9,12,40.0,>7jt,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35991,24,1,13,20.0,>7jt,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35992,47,7,9,45.0,<=7jt,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35993,45,8,13,60.0,>7jt,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [14]:
df_test1

,id,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
0,35994,30,2,11,40.0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,35995,28,7,9,50.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,35996,34,7,10,40.0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,35997,51,10,10,40.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,35998,20,4,10,40.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,45588,58,5,5,40.0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
9595,45589,45,4,7,50.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9596,45590,20,8,10,32.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9597,45591,41,8,9,40.0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
9598,45592,34,1,9,80.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [15]:
# preprocessing data 
#encoding data kategori untuk Gaji
obj_dict_gaji = {
    '<=7jt': 0,
    '>7jt': 1
}

In [16]:
df_train['Gaji'].replace(obj_dict_gaji)

0        0
1        0
2        1
3        0
4        1
        ..
35989    0
35990    1
35991    1
35992    0
35993    1
Name: Gaji, Length: 35994, dtype: int64

In [17]:
df_train['Gaji'] = df_train['Gaji'].replace(obj_dict_gaji)

In [18]:
# memisahkan feature dan target pada data train
x = df_train.drop('Gaji', axis = 1)
y = df_train['Gaji']

In [19]:
y

0        0
1        0
2        1
3        0
4        1
        ..
35989    0
35990    1
35991    1
35992    0
35993    1
Name: Gaji, Length: 35994, dtype: int64

In [20]:
x

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
0,21,8,9,35.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,49,4,6,40.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,44,3,12,45.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,24,6,13,35.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,33,7,14,40.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,47,4,9,40.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35990,69,9,12,40.0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35991,24,1,13,20.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35992,47,7,9,45.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35993,45,8,13,60.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [21]:
x.describe()

,Umur,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,Kelas Pekerja_Tidak Pernah Bekerja,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
count,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000,...,35994.0,35994.0,35994.0,35994.0,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000,35994.000000
mean,38.664555,10.079874,40.435656,0.079624,0.035367,0.063344,0.041035,0.029616,0.000417,0.000167,...,0.0,0.0,0.0,0.0,0.004834,0.954381,0.014586,0.030394,0.000417,0.000222
std,13.676266,2.574813,12.367552,0.270715,0.184708,0.243584,0.198373,0.169528,0.020410,0.012910,...,0.0,0.0,0.0,0.0,0.069361,0.208660,0.119889,0.171671,0.020410,0.014907
min,17.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,9.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,37.000000,10.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,48.000000,12.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,90.000000,16.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
# Centering dan Scaling data
from sklearn.preprocessing import StandardScaler

stdscaler = StandardScaler()
datascale= stdscaler.fit_transform(x)

In [23]:
colnames = list(x.columns) 
x = pd.DataFrame(datascale, columns=colnames)

In [24]:
x

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
0,-1.291639,0.870448,-0.419405,-0.439516,-0.294131,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
1,0.755732,-0.522192,-1.584555,-0.035226,-0.294131,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
2,0.390130,-0.870352,0.745744,0.369063,-0.294131,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
3,-1.072278,0.174128,1.134128,-0.439516,-0.294131,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
4,-0.414194,0.522288,1.522511,-0.035226,-0.294131,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,0.609491,-0.522192,-0.419405,-0.035226,3.399848,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
35990,2.218140,1.218608,0.745744,-0.035226,-0.294131,5.222542,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
35991,-1.072278,-1.566672,1.134128,-1.652384,3.399848,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
35992,0.609491,0.522288,-0.419405,0.369063,-0.294131,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491
35993,0.463250,0.870448,1.134128,1.581931,-0.294131,-0.191478,-0.260053,-0.206859,-0.1747,-0.020418,...,0.0,0.0,0.0,0.0,-0.069697,0.21863,-0.121662,-0.17705,-0.020418,-0.01491

In [25]:
x.describe()

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
count,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,...,35994.0,35994.0,35994.0,35994.0,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04,3.599400e+04
mean,7.155963e-17,5.586586e-17,2.650174e-16,1.977020e-16,5.487884e-17,5.823474e-17,5.260867e-17,6.553875e-17,9.317558e-17,3.553306e-18,...,0.0,0.0,0.0,0.0,-2.053021e-17,2.041177e-16,3.158494e-18,2.724201e-17,3.948118e-18,1.026511e-17
std,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,...,0.0,0.0,0.0,0.0,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00,1.000014e+00
min,-1.584121e+00,-1.566672e+00,-3.526470e+00,-3.188683e+00,-2.941308e-01,-1.914777e-01,-2.600532e-01,-2.068587e-01,-1.746995e-01,-2.041837e-02,...,0.0,0.0,0.0,0.0,-6.969664e-02,-4.573929e+00,-1.216621e-01,-1.770500e-01,-2.041837e-02,-1.491002e-02
25%,-7.797964e-01,-8.703516e-01,-4.194050e-01,-3.522621e-02,-2.941308e-01,-1.914777e-01,-2.600532e-01,-2.068587e-01,-1.746995e-01,-2.041837e-02,...,0.0,0.0,0.0,0.0,-6.969664e-02,2.186304e-01,-1.216621e-01,-1.770500e-01,-2.041837e-02,-1.491002e-02
50%,-1.217129e-01,4.836362e-05,-3.102188e-02,-3.522621e-02,-2.941308e-01,-1.914777e-01,-2.600532e-01,-2.068587e-01,-1.746995e-01,-2.041837e-02,...,0.0,0.0,0.0,0.0,-6.969664e-02,2.186304e-01,-1.216621e-01,-1.770500e-01,-2.041837e-02,-1.491002e-02
75%,6.826114e-01,8.704484e-01,7.457444e-01,3.690631e-01,-2.941308e-01,-1.914777e-01,-2.600532e-01,-2.068587e-01,-1.746995e-01,-2.041837e-02,...,0.0,0.0,0.0,0.0,-6.969664e-02,2.186304e-01,-1.216621e-01,-1.770500e-01,-2.041837e-02,-1.491002e-02
max,3.753668e+00,1.566768e+00,2.299277e+00,4.735388e+00,3.399848e+00,5.222542e+00,3.845366e+00,4.834218e+00,5.724114e+00,4.897550e+01,...,0.0,0.0,0.0,0.0,1.434789e+01,2.186304e-01,8.219489e+00,5.648122e+00,4.897550e+01,6.706899e+01

In [26]:
x.shape

(35994, 49)

<h1> Modelling </h1>

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score

In [28]:
y = df_train['Gaji']

In [29]:
# membuat objek model
model_knn = KNeighborsClassifier()
model_lr = LogisticRegression(random_state=21)
model_rf = RandomForestClassifier(random_state=21)
model_dt = tree.DecisionTreeClassifier(random_state=21)

In [30]:
# KNN
cv_result = cross_val_score(model_knn, x, y, cv = 5, scoring='roc_auc')
cv_result.mean()

0.8514060617531412

In [31]:
# Logistic Regression
cv_result1 = cross_val_score(model_lr, x, y, cv = 20, scoring='roc_auc')
cv_result1.mean()

0.8984678915375494

In [32]:
# Random Forest
cv_result2 = cross_val_score(model_rf, x, y, cv = 20, scoring='roc_auc')
cv_result2.mean()

0.8818299082553652

In [33]:
# Decision tree
cv_result3 = cross_val_score(model_dt, x, y, cv = 10, scoring='roc_auc')
cv_result3.mean()

0.7212190534592491

In [34]:
# Dari skor di atas, nilai Logistik Regression paling bagus, buat kombinasi hyperparameter tuning
# fungsi RandomizedSearchCV

import numpy as np
model_lr = LogisticRegression(random_state=21)
param_grid = {
    'C': np.arange(0.1, 1, 0.1), 'class_weight': np.arange(0.1, 1, 0.1)
}
rscv = RandomizedSearchCV(model_lr, param_grid, cv = 20, scoring = 'roc_auc', n_iter = 50)
#GridSearchCV(model_lr, param_grid = param_grid, scoring= 'roc_auc', cv =  5)

In [35]:
rscv.fit(x, y)

RandomizedSearchCV(cv=20, estimator=LogisticRegression(random_state=21),
                   n_iter=50,
                   param_distributions={'C': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                                        'class_weight': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])},
                   scoring='roc_auc')

In [36]:
rscv.best_params_

{'class_weight': 0.1, 'C': 0.1}

In [37]:
rscv.best_score_

0.8985119729003703

In [38]:
#Linear Regression
#fungsi GridSearchCV

In [39]:
import numpy as np
model_lr = LogisticRegression(random_state=21)
param_grid = {
    'C': np.arange(0.1, 1, 0.1), 'class_weight': np.arange(0.1, 1, 0.1)
}
gscv = GridSearchCV(model_lr, param_grid= param_grid, cv = 20, scoring = 'roc_auc')

In [40]:
gscv.fit(x, y)

GridSearchCV(cv=20, estimator=LogisticRegression(random_state=21),
             param_grid={'C': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'class_weight': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])},
             scoring='roc_auc')

In [41]:
gscv.best_params_

{'C': 0.1, 'class_weight': 0.1}

In [42]:
gscv.best_score_

0.8985119729003703

In [43]:
#learning from data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=21, stratify=y)

In [44]:
model_lr = LogisticRegression(random_state=21, C=0.1, class_weight=0.1)

In [45]:
model_lr.fit(x_train, y_train)

LogisticRegression(C=0.1, class_weight=0.1, random_state=21)

In [46]:
df_test2 = df_test1.drop(['id'], axis = 1)

In [47]:
x_test = df_test2

In [48]:
x_test

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
0,30,2,11,40.0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,28,7,9,50.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,34,7,10,40.0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,51,10,10,40.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,20,4,10,40.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,58,5,5,40.0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
9595,45,4,7,50.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9596,20,8,10,32.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9597,41,8,9,40.0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9598,34,1,9,80.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
stdscaler = StandardScaler()
datascale_test= stdscaler.fit_transform(x_test)

In [51]:
colnames = list(x_test.columns) 
x_test = pd.DataFrame(datascale_test, columns=colnames)

In [52]:
x_test

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
0,-0.612932,-1.218330,0.371785,-0.026687,-0.287321,-0.184501,3.792494,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681
1,-0.758052,0.522271,-0.413076,0.779877,-0.287321,-0.184501,-0.263679,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681
2,-0.322692,0.522271,-0.020646,-0.026687,-0.287321,-0.184501,-0.263679,-0.201910,5.779707,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681
3,0.910830,1.566631,-0.020646,-0.026687,-0.287321,-0.184501,-0.263679,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,-4.509003,-0.126845,5.675785,-0.025009,-0.017681
4,-1.338533,-0.522090,-0.020646,-0.026687,-0.287321,-0.184501,-0.263679,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,-4.509003,7.883611,-0.176187,-0.025009,-0.017681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,1.418751,-0.173969,-1.982799,-0.026687,-0.287321,-0.184501,-0.263679,4.952702,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681
9595,0.475469,-0.522090,-1.197938,0.779877,3.480429,-0.184501,-0.263679,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681
9596,-1.338533,0.870391,-0.020646,-0.671938,-0.287321,-0.184501,-0.263679,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681
9597,0.185229,0.870391,-0.413076,-0.026687,-0.287321,-0.184501,3.792494,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681
9598,-0.322692,-1.566450,-0.413076,3.199569,3.480429,-0.184501,-0.263679,-0.201910,-0.173019,-0.020418,...,0.0,0.0,0.0,0.0,-0.070892,0.221779,-0.126845,-0.176187,-0.025009,-0.017681

In [53]:
x_test.describe()

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_6,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5
count,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,...,9599.0,9599.0,9599.0,9599.0,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03,9.599000e+03
mean,-1.069626e-16,9.548913e-17,2.050425e-16,2.650008e-16,-5.995829e-17,-1.850564e-17,9.252822e-18,3.219982e-17,-2.331711e-17,8.882709e-18,...,0.0,0.0,0.0,0.0,7.217201e-18,1.937541e-16,2.960903e-17,6.106863e-18,-1.628497e-17,4.071242e-18
std,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,...,0.0,0.0,0.0,0.0,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00
min,-1.556213e+00,-1.566450e+00,-3.552522e+00,-3.172286e+00,-2.873209e-01,-1.845013e-01,-2.636787e-01,-2.019100e-01,-1.730191e-01,-2.041773e-02,...,0.0,0.0,0.0,0.0,-7.089183e-02,-4.509003e+00,-1.268454e-01,-1.761871e-01,-2.500912e-02,-1.768135e-02
25%,-7.580523e-01,-8.702097e-01,-4.130763e-01,-2.668660e-02,-2.873209e-01,-1.845013e-01,-2.636787e-01,-2.019100e-01,-1.730191e-01,-2.041773e-02,...,0.0,0.0,0.0,0.0,-7.089183e-02,2.217785e-01,-1.268454e-01,-1.761871e-01,-2.500912e-02,-1.768135e-02
50%,-1.050114e-01,-1.739694e-01,-2.064564e-02,-2.668660e-02,-2.873209e-01,-1.845013e-01,-2.636787e-01,-2.019100e-01,-1.730191e-01,-2.041773e-02,...,0.0,0.0,0.0,0.0,-7.089183e-02,2.217785e-01,-1.268454e-01,-1.761871e-01,-2.500912e-02,-1.768135e-02
75%,6.931496e-01,8.703910e-01,7.642157e-01,3.765954e-01,-2.873209e-01,-1.845013e-01,-2.636787e-01,-2.019100e-01,-1.730191e-01,-2.041773e-02,...,0.0,0.0,0.0,0.0,-7.089183e-02,2.217785e-01,-1.268454e-01,-1.761871e-01,-2.500912e-02,-1.768135e-02
max,3.740674e+00,1.566631e+00,2.333938e+00,4.732041e+00,3.480429e+00,5.420017e+00,3.792494e+00,4.952702e+00,5.779707e+00,4.897704e+01,...,0.0,0.0,0.0,0.0,1.410600e+01,2.217785e-01,7.883611e+00,5.675785e+00,3.998541e+01,5.655676e+01

In [54]:
y_test = model_lr.predict(x_test)

In [55]:
y_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [56]:
y_test = pd.DataFrame(y_test)

In [57]:
df_test2.eval("y_test = @y_test.values", inplace=True)

In [61]:
df_test2

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5,y_test
0,30,2,11,40.0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,28,7,9,50.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,34,7,10,40.0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,51,10,10,40.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,20,4,10,40.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,58,5,5,40.0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
9595,45,4,7,50.0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9596,20,8,10,32.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9597,41,8,9,40.0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9598,34,1,9,80.0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [71]:
df_test2['id'] = df_test1['id']

In [72]:
df_test2

,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,...,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5,y_test,id
0,30,2,11,40.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,35994
1,28,7,9,50.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,35995
2,34,7,10,40.0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,35996
3,51,10,10,40.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,35997
4,20,4,10,40.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,35998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,58,5,5,40.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,45588
9595,45,4,7,50.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,45589
9596,20,8,10,32.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,45590
9597,41,8,9,40.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,45591
9598,34,1,9,80.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,45592

In [74]:
col_name="id"
first_col = df_test2.pop(col_name)

In [75]:
df_test2.insert(0, col_name, first_col)

In [76]:
df_test2

,id,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,...,Keuntungan Kapital_7,Keuntungan Kapital_8,Keuntungan Kapital_9,Keuntungan Kapital_10,Kerugian Capital_1,Kerugian Capital_2,Kerugian Capital_3,Kerugian Capital_4,Kerugian Capital_5,y_test
0,35994,30,2,11,40.0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,35995,28,7,9,50.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,35996,34,7,10,40.0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,35997,51,10,10,40.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,35998,20,4,10,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,45588,58,5,5,40.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
9595,45589,45,4,7,50.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9596,45590,20,8,10,32.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9597,45591,41,8,9,40.0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
9598,45592,34,1,9,80.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [99]:
df_test_new = df_test2[['id','y_test']]

In [111]:
df_test_new

         id  y_test  Gaji
0     35994       0     0
1     35995       0     0
2     35996       0     0
3     35997       1     1
4     35998       0     0
...     ...     ...   ...
9594  45588       0     0
9595  45589       0     0
9596  45590       0     0
9597  45591       0     0
9598  45592       0     0

[9599 rows x 3 columns]

In [112]:
df_test_new= df_test_new.drop(['y_test'], axis=1)

In [116]:
df_test_new

         id  Gaji
0     35994     0
1     35995     0
2     35996     0
3     35997     1
4     35998     0
...     ...   ...
9594  45588     0
9595  45589     0
9596  45590     0
9597  45591     0
9598  45592     0

[9599 rows x 2 columns]

In [120]:
df_test_new.to_csv('SampleSubmission.csv', index=False)